<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png"> 
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>{{>header}}</h1>
    <h2>{{errortext}}</h2>
    <p>{{>footer}}</p>
</body>

</html>