<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Weather App</title>
    <link rel="icon" href="/img/weather.png"> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}

    <main>
        <h2>About This App 📌</h2>
        <img src="/img/ham_dun.jpeg">
        <p>This app provides real-time weather updates using external APIs.</p>
        <p>Developed by <span class="highlight">{{name}}</span></p>
    </main>

    {{> footer}}
</body>
</html>